<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
   </head>
   <body>
      <p>
         Welcome to our dashboard, <strong><%= user.username %></strong>. We were expecting you.
      </p>
   </body>
</html>
